body {
}

#content {
}

.Zone {
    border: solid 1px #ddd;
    margin: 0px auto 10px auto;
    padding: 15px 10px;
    background-color: white;
    line-height: 25px;
}
/*试题区域*/
.question {
    text-align: left;
    padding: 0px 10px 10px 10px;
}

.title {
    padding-bottom: 5px;
}

.choose {
    padding-left: 20px;
}
/*参考答案*/
.answer {
    text-align: right;
    
}
/*评论区域*/
.comment {
    text-align: left;
    padding: 10px;
    font-size: larger;
    border-top: 1px dotted #DDD;
}
/*评论的标题*/
.comment-title {
    margin-bottom: 20px;
}
.delete {
float:right;
}
/*评论区左边的用户图像*/
.leftcommentauthormessage {
    float: left;
    width: 50px;
    height: 50px;
}

.userimage {
    width: 50px;
    height: 50px;
}
/*评论区右边的内容*/
.rightcomment {
    margin-left: 70px;
    min-height: 50px;
}

.username {
    color: #FF9924;
}

.commenttime {
    color: GrayText;
    font-size: smaller;
    padding-left: 20px;
}

.commentbtn {
    text-align: right;
    color: GrayText;
   
}

.showall {
    margin-left: 20px;
     cursor:pointer;
}

#hidden,.hidden {
   display:none;
}

.loadlab {
    width: 100%;
    min-height: 30px;
    line-height:30px;
    background-color: white;
}
/*全部评论加载完成标志*/
.LABallcommentfinish {
    text-align:right;
}
/*加载更多评论错误*/
LABcommentloadingerror {
}