<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>127.0.0.1</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Localhost</MSDeployServiceURL>
    <DeployIisAppPath>船员在线考试系统</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="connStringByUidPwd" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Ii4vMbr586SWNx3YyfuZ8vjvoJNwKoo6Ct3UDLzzzaq2V4YhWyED2UALfhxGqnswxPYaCFlPsB90dmZpjILgZsy+/nIHcBQKMGj9g3wvW6AvKRth827UKw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connStringByUidPwd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Ii4vMbr586SWNx3YyfuZ8vjvoJNwKoo6Ct3UDLzzzaq2V4YhWyED2UALfhxGqnswxPYaCFlPsB90dmZpjILgZsy+/nIHcBQKMGj9g3wvW6AvKRth827UKw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connStringSqlCache" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=YXSHU-PC;Initial Catalog=OnLineTest;User ID=sa;Password=Ashulovejuan1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connStringSqlCache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=YXSHU-PC;Initial Catalog=OnLineTest;User ID=sa;Password=Ashulovejuan1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Ii4vMbr586SWNx3YyfuZ8vjvoJNwKoo6Ct3UDLzzzaq2V4YhWyED2UALfhxGqnswokkb6m4q0ABUO0NIONw4E+hnw6JGaHYXxlC0F75Xo24=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Ii4vMbr586SWNx3YyfuZ8vjvoJNwKoo6Ct3UDLzzzaq2V4YhWyED2UALfhxGqnswokkb6m4q0ABUO0NIONw4E+hnw6JGaHYXxlC0F75Xo24=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connStringByUidPwd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connStringSqlCache-Web.config Connection String" />
  </ItemGroup>
</Project>