<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.180.159</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.180.159</MSDeployServiceURL>
    <DeployIisAppPath>船员在线考试系统</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="connStringByUidPwd" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Ii4vMbr586QPqlGVSUGQ5mtaMGHkQFJkIIgV9pcPBOp/70QQ83KuHf0isrm3bns2GebUWZHqoeKB7L0TiBKUUboM3/2JwYq8GGk8qq2A9bI=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connStringByUidPwd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Ii4vMbr586QPqlGVSUGQ5mtaMGHkQFJkIIgV9pcPBOp/70QQ83KuHf0isrm3bns2GebUWZHqoeKB7L0TiBKUUboM3/2JwYq8GGk8qq2A9bI=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connStringSqlCache" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=OnLineTest;User ID=sa;Password=Ashulovejuan1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connStringSqlCache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=OnLineTest;User ID=sa;Password=Ashulovejuan1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Ii4vMbr586QPqlGVSUGQ5mtaMGHkQFJkIIgV9pcPBOp/70QQ83KuHWlMRlpMxo/twSBIf57dX4M3+w2jhvkLsjuRPN8iMM6b" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Ii4vMbr586QPqlGVSUGQ5mtaMGHkQFJkIIgV9pcPBOp/70QQ83KuHWlMRlpMxo/twSBIf57dX4M3+w2jhvkLsjuRPN8iMM6b" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connStringByUidPwd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connStringSqlCache-Web.config Connection String" />
  </ItemGroup>
</Project>